<header></header>
<div class="text-word">
    <span class="text">Actions</span>
</div>
<div class="botton-box" >
    <button class="page-btn" data-page="alarms" id="Alarms" >Alarms</button>
    <button id="send-hibernate" >Hibernate</button>
    <button id="shutdown">Shut down</button>
    <button class="page-btn" data-page="settings" id="open-settings" >Settings</button>
    <button class="page-btn" data-page="about"  id="open-about" >About Creator</button>
    <button class="page-btn" data-page="SPD"  id="open-SPD" >SPD</button>
</div>


<span class="describe-text" >Created by mohammad mohammad soltani</span>