<header></header>
<div class="text-word">
    <span class="text">Settings</span>
</div>
<div class="form">
    <div class="line_form">
        <div class="label">
            <span>Auto Hibernate </span>
            <div class="describe">
                <p>Your system will shut down 5 minutes before the power outage</p>
            </div>
        </div>
        <div class="input">
            <label class="switch">
                <input id="auto-hibernate" type="checkbox">
                <span class="slider"></span>
            </label>  
        </div>
    </div>
    
</div>
<footer></footer>